*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display';
}
body.modal-open {
  overflow: hidden;
}

.container{
  position: relative;
  padding: 40px;
  top: 80px;
  right: 90px;
}

/* SEARCH BAR */
input.form-control {
  position: relative;
  left: 60%;
  top: 40px;
  width: 50%;
  border-radius: 6px;
  font-size: 14px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: none;
}
/* END SEARCH BAR */

/* DROPDOWN */
.dropdown select.form-select {
  border-radius: 6px;
  font-size: 14px;
  padding: 10px 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: none;
  appearance: none;
  background-repeat: no-repeat;
  background-size: 10px;
}

.dropdown{
  position: relative;
  display: flex;
  gap: 5px;
  width: 50%;
}
/* END DROPDOWN */

/* TABS AND TABLE */

  /* TABS AND TABLE */
    .custom-tabs .nav-link {
      color: #7C7979;
      margin-left: 20px;
      cursor: pointer;
      padding-bottom: 8px;
    }
    
    .custom-tabs .nav-link.active {
      font-weight: 700;
      color: #0D6EFF; 
      border-bottom: 2px solid #0D6EFF;
      padding-bottom: 5px;
    }
    
    .custom-tabs .nav-link:hover {
      font-weight: 700;
      color: #0D6EFF;
      border-bottom: 2px solid #0D6EFF;
    }
    
    .device-table {
      width: 93%;
      background: #fff;
      border: 1px solid transparent;
      border-radius: 6px;
      border-collapse: separate;
      border-spacing: 0;
      margin: 10px 0px 20px 50px;
      box-shadow: 9px 0px 18.376px 0px rgba(0.05, 0.05, 0.05, 0.05);
      overflow: hidden;
    }
    
    .image-side {
      width: 50px;
      height: 50px;
      background-color: #eee;
      border-radius: 4px;
      margin-right: 12px;
      display: inline-block;
      vertical-align: middle;
    }
    
    .image-side img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    
    .table-header {
      background: #e7e7e7d2;
      color: #7C7979;
      font-size: 15px;
    }
    
    .device-table thead tr th:first-child {
      border-top-left-radius: 6px;
    }
    
    .device-table thead tr th:last-child {
      border-top-right-radius: 6px;
    }
    
    .device-table tbody tr:last-child td:first-child {
      border-bottom-left-radius: 6px;
    }
    
    .device-table tbody tr:last-child td:last-child {
      border-bottom-right-radius: 6px;
    }
    
    .device-table th,
    .device-table td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #eee;
    }

    .device-cell {
    display: flex;
    align-items: center;
  }

  .device-text {
    display: flex;
    flex-direction: column;
}
    
    .status-active {
      color: green;
      background: #e3fbe3;
      padding: 5px 15px;
      border-radius: 5px;
      display: inline-block;
    }
    
    .return-btn, .borrow-btn {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .cancel-btn {
      background-color: #F8312F;
      color: #ffffff;
      border: 2px solid #F8312F;
      padding: 8px 12px;
      border-radius: 5px;
      width: 25%;
      cursor: pointer;
    }

    .details-btn{
      background-color: #ffffff;
      color: #0D6EFF;
      border: 2px solid #0D6EFF;
      padding: 8px 12px;
      border-radius: 5px;
      width: 40%;
      max-width: 300px;
      cursor: pointer;
      font-size: 15px;
    }
    
    .return-btn:hover, .borrow-btn:hover {
      background-color: #0056b3;
    }
    
    .device-info {
      font-weight: bold;
    }
    
    .device-id {
      font-size: 12px;
      color: #777;
    }
/* END TABS AND TABLES */